* {box-sizing:border-box}

body {
    background-color: rgb(224, 143, 143);
}
.container {
  max-width: 1000px;
  position: relative;
  margin-top: 100px;
  margin-left: 220px;
}

.theSlides {
  display: none;
}

.next, .previous {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  color: whitesmoke;
  font-size: 40px;
}

.next {
  right: 0;
}

.next:hover, .previous:hover {
    opacity: 0.5;
}

.text {
  color: whitesmoke;
  font-size: 30px;
  padding: 60px;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align:justify;
}

.numberText {
  color: whitesmoke;
  font-size: 20px;
  padding: 15px;
  position: absolute;
}