body {
    background-color: rgb(233, 233, 159);
    text-align: center;
}
button {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    padding:50px;
    text-align: center;
    height:300px;
    width:300px;
    border-width: 0; 
    border-radius:50%; 
    background-color:red;
}
button.a {
    position: absolute;
    top: 200px;
    right: 300px;
}
button.b {
    position: absolute;
    top: 200px;
    left: 300px;
}

button:hover {
    border-width: 20px;
    border-color: rgb(0, 0, 0);
}

h1 {
    position: absolute;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    top: 50px;
    left: 20%;
    right: 20%;
    text-align: center;
}