body{
    background-color: rgba(47, 25, 67, 0.858);
}

a.menu {
    background-color: rgba(4, 4, 4, 0.358);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: rgba(238, 230, 196, 0.872);
    font-size: 20px;
    padding: 20px;
    display:inline-block;
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background:rgba(241, 211, 211, 0.406);}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 300px;
  display: none;
}
ul li ul li { 
  background:rgba(241, 211, 211, 0.406); 
  display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {background:rgba(238, 230, 196, 0.872);}

img:hover {
    color: rgba(241, 211, 211, 0.406);
    background-color: transparent;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
 
.column {
    float: left;
    width: 25%;
    padding: 10px;
}
  
.column img {
    margin-top: 12px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}