body{
    background-image: url('/images/7.jpg');
    background-size: 100% 150%;
}
div.headings {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(238, 230, 196, 0.872);
    font-size: 900%;
    line-height: 0.8;
    font-kerning:initial;
    font-stretch: extra-expanded;
    position: relative;
    top: 300px;
    width: 50%;
}

a:link {
    color: rgba(230, 224, 197, 0.523);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgba(235, 231, 212, 0.714);
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: rgba(241, 211, 211, 0.406);
    background-color: transparent;
    text-decoration: none;
}