body{
    background-image: url('city.JPG');
    background-size: 100% 70%;
    background-repeat:repeat;
}

#main {
    width: 80%;
    height: 200px;
    display:flex;
    align-items: center;
    padding-left: 2%;
    margin: -5px;
    flex-wrap:nowrap;
}
#main div {
    flex: 1;
}

h1 {
    font-size: 70px;
    margin-bottom: 0;
    margin-top: 10px;
    padding: 20px;
}

mark { 
    background-color: black;
    color: rgb(179, 6, 6);
}

img:hover {
    padding: 20px;
    background-color: transparent;
    transition: transform .2s;
    width: 70%;
    height: 70%;
  }