body {
    background-color: black;
    text-align: center;
}

img {
    display:flex;
    width:600px;
}

.switch {
    height: 30px;
    width: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    border-radius: 50%;
    margin: 4px;
    padding: 4px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight:bolder;
    color: black;
}

.switch:hover {
    opacity: 0.2;
}

.a {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    color: black;
    height:30px;
    border-width: 0; 
    background-color:rgba(255, 255, 255, 0);
}
.a:hover {
    opacity: 0.2;
}
.one {
    position: absolute;
    top: 500px;
    right: 25%;
}
.two {
    position: absolute;
    top: 550px;
    right: 25%;
}
.three {
    position: absolute;
    top: 600px;
    right: 25%;
}
.four {
    position: absolute;
    top: 650px;
    right: 25%;
}

.truth {
    position: absolute;
    top: 200px;
    right: 25%;
}
.dare {
    position: absolute;
    top: 200px;
    right: 20%;
}
.home {
    position: absolute;
    top: 250px;
    right: 25%;
}
.study {
    position: absolute;
    top: 250px;
    right: 11%;
}
.yes {
    position: absolute;
    top: 300px;
    right: 25%;
}
.no {
    position: absolute;
    top: 300px;
    right: 21%;
}
.stop {
    position: absolute;
    top: 350px;
    right: 25%;
}

/* .input {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.493);
    height:25px;
    width: 210px;
    border-width: 0; 
    background-color:rgb(22, 21, 21);
    position: absolute;
    top: 75%;
    right: 40%;
} */

/* .reset {
    padding: 8px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    height:60px;
    width:120px;
    border-width: 0;
    border-radius: 50%;
}

.reset:hover {
    opacity: 0.8;
} */